.Container {
    justify-content: center;
}

.DLALogo {
    width: 80px;
    height: 100px;
    margin-top: 12px;
    margin-left: 8px;
}

.flipImage {
    display: flex;
    flex-direction: column;
    gap: 25px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
