.book1 {
    background-image: url(../public/BookLanding.png);
    background-size: cover;
}

.book2 {
    background-image: url(../public/BookSchedule.png);
    background-size: cover;
}

.bookFigma {
    background-image: url(../public/bookFigma.png);
    background-size: cover;
}
.bookScreen {
    background-image: url(../public/BookScreen.png);
    background-size: cover;
}

.BMV1 {
    background-image: url(../public/BMVHome.png);
    background-size: cover;
}

.BMV2 {
    background-image: url(../public/BMVAboutUs.png);
    background-size: cover;
}

.Fed1 {
    background-image: url(../public/FedMallLogIn.png);
    background-size: cover;
}

.Fed2 {
    background-image: url(../public/FedMallOrders.png);
    background-size: cover;
}

.Fed3 {
    background-image: url(../public/FedMallPayments.png);
    background-size: cover;
}

.Fed4 {
    background-image: url(../public/FedMallReg.png);
    background-size: cover;
}

.Tap2 {
    background-image: url(../public/tapPicture2.jpg);
    background-size: cover;
}

.Tap1 {
    background-image: url(../public/tapPicture.jpg);
    background-size: cover;
}

.RADxHome {
    background-image: url(../public/RADxHome.png);
    background-size: cover;
}

.RADxHelpfulInfo {
    background-image: url(../public/RADxHelpfulInfo.png);
    background-size: cover;
}

.RADxStudyExplorer {
    background-image: url(../public/RADxStudyExplorer.png);
    background-size: cover;
}

.RADxStudyReg {
    background-image: url(../public/RADxStudyExplorer.png);
    background-size: cover;
}
