.intro {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font: normal normal bold clamp(12px, 4vw, 20px) Arial;
    }
    @media (max-height: 800px) {
        height: 150vh;
    }
}

.centered {
    margin-top: 15px;
    gap: 40px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 430px) {
        margin-bottom: 80px;
    }
}
