.intro {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
