.c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 350px;
    height: 200px;
    cursor: pointer;
    will-change: transform, opacity;
}

.front,
.back {
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: center;
}
