@import '~bootstrap/scss/bootstrap';
@import 'fonts';
@import 'variables/colors.scss';

html,
body {
    height: 100%;
    color: $DarkColor;
    padding: 0;
    margin: 0;
    font: $primary-font;

    #__next {
        height: 100%;
    }
}

h1 {
    font: normal normal bold clamp(40px, 8vw, 80px) Arial;
}

h2 {
    font: normal normal bold clamp(16px, 8vw, 24px) Arial;
}

h3 {
    font: normal normal bold clamp(14px, 6vw, 20px) Arial;
}

h4 {
    font: normal normal bold clamp(12px, 4vw, 20px) Arial;
}

h5 {
    font: normal normal bold 20px/24px Arial;
    letter-spacing: 0px;
    color: #858585;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    color: $PrimaryBackground;
}

.button {
    border-radius: 15px;
    font-weight: $bold;
}

.button-primary,
.button-outline-primary {
    font-size: 16px !important;
}

.button-primary,
.button-primary:hover {
    background: $PrimaryBackground;
    color: $PrimaryColor;
}

.button-outline-primary,
.button-outline-primary:hover {
    background: $SecondaryBackground;
    color: $SecondaryColor;
    border-color: $SecondaryOutlineColor !important;
    border: 2px solid;
}

.fadeIn {
    @keyframes fadein {
        0% {
            opacity: 0;
            transform: translate3d(0px, 30px, 0px);
            animation-timing-function: ease-in-out;
        }
        100% {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            animation-timing-function: ease-in-out;
        }
    }
    animation: fadein 2s linear;
}
